@import 'fonts';

$bg-color-1:#A06873;
$bg-color-2:#E0BEC4;
$txt-color-1:#FFFDFD;
$txt-color-2:#554C49;

@mixin flexbox($direction, $justify: center, $align: center ) {
  display:flex;
  flex-direction:$direction;
  justify-content: $justify;
  align-items: $align;
}

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  color:$txt-color-1;
  font-family: 'Cabin Condensed', sans-serif;
  scroll-behavior: smooth;
}

h1{
  font-size: 48px;
}
/* PREVIEW SECTION  */

.preview-section{
  @include flexbox(column);
  background-color: $bg-color-1;
  background-image: linear-gradient(to bottom right, #E0BEC4 50%, #A06873 50% );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

header{
  @include flexbox(row, space-between);
  position:absolute;
  top:20px;
  width: 80%;
  
  button, a, span{
    all: unset;
    font-size: 24px;
    font-weight: bold;
    color:$txt-color-2;
    padding-left:10px;
  }

  button, a{
    cursor: pointer;
  }
  button:hover, a:hover{
    color:$txt-color-1;
  }
  
}


.preview-img{
  height:65%;
  max-height: 60vw;
  border-radius: 50%;
}

.preview-section-title{
  position:absolute;
  right:15%;
  top:77.5%;
}

/* DESCRIPTION SECTION */

.desription-section{
  background-color: $bg-color-1;
  @include flexbox(column);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#about-text{
  width:70%;
  font-size: 35px;
}

/* CONTACT SECTION */
.contact-section{
  background-color: $bg-color-2;
  color: $txt-color-2 ;
  @include flexbox(column);
  min-height:500px;
}

#contact-header{
  font-size: 30px;
}

.contact-form{
  padding-top: 20px;
  @include flexbox(column, center, left);
  gap:5px;

  label{
    width:100%;
    float:left;
  }

  input{
    all:unset;
    border-bottom:solid 2px $txt-color-1;
    width: 80%;
    float:right;
  }
  textarea{
    all:unset;
    border:solid;
    padding:5px;
    margin: 15px 0 10px 0;
  }
  
}

#contact-file-input{
  all:unset;
  border: 2px solid;
  padding:3px 6px;
  margin:5px;
  align-self: center;

  input{
    display: none;
  }
}

#contact-submit{
  all:unset;
  border:solid 2px;
  align-self: center;
  padding:3px 6px;
  margin:5px;
}